/* Cabecera */

.header img {
    height: 70px;
    width: 145px;
}

.icons {
    margin-bottom: 5px;
    width: 1.4em;
}

.menuborde {
    border-bottom: 1.5px solid darkblue;
}

.navbar-toggler {
    margin-top: 2.5em;
    float: right;
}

.phonemenu:hover {
    border-bottom: 1.5px solid darkblue;
}

a {
    font-family: 'Montserrat', sans-serif;
}

/* Contenido */

.slider h1 {
    font-size: 2.5em;
}

.slider {
    margin-top: 3.5em;
}

.hours {
    color: darkblue;
}

.img1 {
    width: 600px;
}

.text1 {
    margin-top: 1.3em;
}

.text2 {
    margin-top: 5em;
}

select {
    cursor: pointer;
}

.text3 {
    margin-top: 3em;
    border-top: 1.5px solid darkblue;
}

.titulo2 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.text5 {
    margin-top: 3em;
    background-color: lightgray;
    height: 10em;
}

/* Formulario de contacto */

#formulario {
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
}

.is-invalid {
    color: red;
}

#submit {
    margin-top: 1em;
}

/* Footer */

.footer a {
    margin-top: 1em;
    color: black;
    font-weight: bold
}

hr {
    margin: 0 15%;
    color: lightgray;
}

.footer a:hover {
    color: black;
    border-bottom: 1.5px solid darkblue;
    text-decoration: none;
}

footer {
    margin-top: 13em;
    background-color: #e5a778be;
}

/* Media querys */

@media (min-width:768px) and (max-width:991px) {
    .slider h1 {
        font-size: 1.5em;
    }
}

@media (max-width:767px) {
    .slider h1 {
        font-size: 1.5em;
    }
}

@media (max-width:479px) {
    .slider h1 {
        margin-top: 0.2em;
        font-size: 1.3em;
    }
}